<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.web>
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSEFinanceiraSoap" />
                <binding name="WsConsultaSoap" />
                <binding name="WsConsultaSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WsRecepcaoSoap">
                    <textMessageEncoding messageVersion="Soap12">
                        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                    <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                        authenticationScheme="Digest" maxBufferSize="2147483647" requireClientCertificate="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://preprodefdreinf.receita.fazenda.gov.br/WsREINF/RecepcaoLoteReinf.svc"
                binding="customBinding" bindingConfiguration="WsRecepcaoSoap"
                contract="WSRecepcaoPreprod.RecepcaoLoteReinf" name="BasicHttpBinding_RecepcaoLoteReinf" />
            <endpoint address="https://preprodefdreinf.receita.fazenda.gov.br/WsREINF/ConsultasReinf.svc"
                binding="customBinding" bindingConfiguration="WsRecepcaoSoap"
                contract="WSConsultaPreprod.ConsultasReinf" name="BasicHttpBinding_ConsultasReinf" />
            <endpoint address="https://reinf.receita.fazenda.gov.br/WsREINF/RecepcaoLoteReinf.svc"
                binding="customBinding" bindingConfiguration="WsRecepcaoSoap"
                contract="WSRecepcao.RecepcaoLoteReinf" name="BasicHttpBinding_RecepcaoLoteReinf1" />
            <endpoint address="https://reinf.receita.fazenda.gov.br/WsREINF/ConsultasReinf.svc"
                binding="customBinding" bindingConfiguration="WsRecepcaoSoap"
                contract="WSConsulta.ConsultasReinf" name="BasicHttpBinding_ConsultasReinf1" />
        </client>
    </system.serviceModel>
</configuration>